@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="adverseReactionInfo">

            <input type="hidden" id="id" value="${item.id}">
			<input type="hidden" id="dietaryStatusValue" value="${item.dietaryStatus}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="patientNumber" name="住院号" value="${item.patientNumber}" underline="true"/>
                            <#input id="name" name="姓名" value="${item.name}" underline="true"/>
                            <#input id="radiotherapyCount" name="放疗次数" value="${item.radiotherapyCount}" underline="true"/>
                            <#input id="chemotherapyCount" name="化疗次数" value="${item.chemotherapyCount}" underline="true"/>
                            <#input id="weight" name="体重(单位kg)" value="${item.weight}" underline="true"/>
                            <#select id="dietaryStatus" name="目前饮食" underline="true">
								<option value="1">正常饮食</option>
								<option value="2">半流质</option>
							    <option value="3">流质</option>
								<option value="4">完全梗阻</option>
							</#select>
                            <#input id="weakStatus" name="乏力 " value="${item.weakStatus}" underline="true"/>
                            <#input id="nauseaStatus" name="恶心" value="${item.nauseaStatus}" underline="true"/>
                            <#input id="vomitStatus" name="呕吐 " value="${item.vomitStatus}" underline="true"/>
                            <#input id="diarrheaStatus" name="腹泻" value="${item.diarrheaStatus}" underline="true"/>
                            <#input id="constipationStatus" name="便秘 " value="${item.constipationStatus}" underline="true"/>
                            <#input id="muscleJointPainStatus" name="肌肉关节痛" value="${item.muscleJointPainStatus}" underline="true"/>
                            <#input id="nervousSystemStatus" name="神经系统" value="${item.nervousSystemStatus}" underline="true"/>
                            <#input id="alopeciaStatus" name="脱发" value="${item.alopeciaStatus}" underline="true"/>
                            <#input id="feverStatus" name="发热" value="${item.feverStatus}" />
                </div>

                <div class="col-sm-6">
                            <#input id="coughStatus" name="咳嗽" value="${item.coughStatus}" underline="true"/>
                            <#input id="skinStatus" name="放射性皮肤损伤" value="${item.skinStatus}" underline="true"/>
                            <#input id="hiccupStatus" name="打嗝 " value="${item.hiccupStatus}" underline="true"/>
                            <#input id="oralMucositisStatus" name="口腔黏膜炎" value="${item.oralMucositisStatus}" underline="true"/>
                            <#input id="hoarsenessStatus" name="声嘶 " value="${item.hoarsenessStatus}" underline="true"/>
                            <#input id="hearingStatus" name="听力损伤 " value="${item.hearingStatus}" underline="true"/>
                            <#input id="dizzyStatus" name="头晕" value="${item.dizzyStatus}" underline="true"/>
                            <#input id="headacheStatus" name="头痛" value="${item.headacheStatus}" underline="true"/>
                            <#input id="pneumoniaStatus" name="肺炎" value="${item.pneumoniaStatus}" underline="true"/>
                            <#input id="esophagitisStatus" name="进食痛 (食管炎)" value="${item.esophagitisStatus}" underline="true"/>
                            <#input id="otherStatusesDesc" name="其他症状，请在下面详细描述：" value="${item.otherStatusesDesc}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AdverseReactionInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AdverseReactionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/adverse/adverseReaction/adverseReaction_info.js"></script>
@}
