@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="adverseReactionInfo">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="patientNumber" name="住院号" value="${item.patientNumber}" underline="true"/>
                            <#input id="name" name="姓名" value="${item.name}" underline="true"/>
                            <#input id="radiotherapyCount" name="放疗次数" value="${item.radiotherapyCount}" underline="true"/>
                            <#input id="chemotherapyCount" name="化疗次数" value="${item.chemotherapyCount}" underline="true"/>
                            <#input id="weight" name="体重(单位kg)" value="${item.weight}" underline="true"/>
                            <#select id="dietaryStatus" name="目前饮食" underline="true" defaultValue="${item.dietaryStatus}"/>
                            <#select id="weakStatus" name="乏力" underline="true" defaultValue="${item.weakStatus}"/>
                            <#select id="nauseaStatus" name="恶心" defaultValue="${item.nauseaStatus}" underline="true"/>
                            <#select id="vomitStatus" name="呕吐 " defaultValue="${item.vomitStatus}" underline="true"/>
                            <#select id="diarrheaStatus" name="腹泻" defaultValue="${item.diarrheaStatus}" underline="true"/>
                            <#select id="constipationStatus" name="便秘 " defaultValue="${item.constipationStatus}" underline="true"/>
                            <#select id="muscleJointPainStatus" name="肌肉关节痛" defaultValue="${item.muscleJointPainStatus}" underline="true"/>
                            <#select id="nervousSystemStatus" name="神经系统" defaultValue="${item.nervousSystemStatus}" underline="true"/>
                            <#select id="alopeciaStatus" name="脱发" defaultValue="${item.alopeciaStatus}" underline="true"/>
                            <#select id="feverStatus" name="发热" defaultValue="${item.feverStatus}" />
                </div>

                <div class="col-sm-6">
                            <#select id="coughStatus" name="咳嗽" defaultValue="${item.coughStatus}" underline="true"/>
                            <#select id="skinStatus" name="放射性皮肤损伤" defaultValue="${item.skinStatus}" underline="true"/>
                            <#select id="hiccupStatus" name="打嗝 " defaultValue="${item.hiccupStatus}" underline="true"/>
                            <#select id="oralMucositisStatus" name="口腔黏膜炎" defaultValue="${item.oralMucositisStatus}" underline="true"/>
                            <#select id="hoarsenessStatus" name="声嘶 " defaultValue="${item.hoarsenessStatus}" underline="true"/>
                            <#select id="hearingStatus" name="听力损伤 " defaultValue="${item.hearingStatus}" underline="true"/>
                            <#select id="dizzyStatus" name="头晕" defaultValue="${item.dizzyStatus}" underline="true"/>
                            <#select id="headacheStatus" name="头痛" defaultValue="${item.headacheStatus}" underline="true"/>
                            <#select id="pneumoniaStatus" name="肺炎" defaultValue="${item.pneumoniaStatus}" underline="true"/>
                            <#select id="esophagitisStatus" name="进食痛" defaultValue="${item.esophagitisStatus}" underline="true"/>
                            <#input id="otherStatusesDesc" name="其他症状，请在下面详细描述：" value="${item.otherStatusesDesc}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="AdverseReactionInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AdverseReactionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/adverse/adverseReaction/adverseReaction_info.js"></script>
@}
