@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>不良反应记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="名称" />
                                <#NameCon id="patientNumber" name="住院号" />
                                <#SelectCon id="category" name="分类" />
                            </div>
                            <div class="col-sm-3">
                             @if(shiro.hasPermission("/adverseReaction/list")){
                                <#button name="搜索" icon="fa-search" clickFun="AdverseReaction.search()"/>
                             @}
                             @if(shiro.hasPermission("/adverseReaction/exportAll")){
                                <#button name="全部导出" icon="fa-search" clickFun="AdverseReaction.exportAll()"/>
                             @}
                            </div>
                        </div>
                        <div class="hidden-xs" id="AdverseReactionTableToolbar" role="group">
                            @if(shiro.hasPermission("/adverseReaction/add")){
                                <#button name="添加" icon="fa-plus" clickFun="AdverseReaction.openAddAdverseReaction()"/>
                            @}
                            @if(shiro.hasPermission("/adverseReaction/update")){
                                <#button name="修改" icon="fa-plus" clickFun="AdverseReaction.openAdverseReactionDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/adverseReaction/category")){
                                <#button name="分类" icon="fa-plus" clickFun="AdverseReaction.openCategoryAdverseReaction()" space="true"/>
                            @}
                        </div>
                        <#table id="AdverseReactionTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/adverse/adverseReaction/adverseReaction.js"></script>
@}
