@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#input id="adverseReactionId" name="记录主键id" value="${item.id}" readonly="true" underline="true"/>
                    <#input id="patientNumber" name="住院号" value="${item.patientNumber}" readonly="true" underline="true"/>
                    <#input id="name" name="姓名" value="${item.name}" readonly="true" underline="true"/>
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                	<#avatar id="photoPath" name="图片路径"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="AdverseReactionPhotoInfoDlg.close()"/>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/adverse/adverseReactionPhoto/adverseReactionPhoto_info.js"></script>
@}
